name: Build and Push to ACR

on:
  workflow_dispatch:  # Isse tum manually GitHub se trigger kar sakte ho

permissions:
  id-token: write
  contents: read
  
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: todo-ui
      IMAGE_TAG: v1
      ACR_NAME: akscon101
      ACR_LOGIN_SERVER: akscon101.azurecr.io

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Azure Login using OIDC
        uses: Azure/login@v2.3.0
        with:          
          client-id: a9b48da1-64d7-4293-bb58-b24ce524b145
          tenant-id: cd6658bd-2f1a-4baa-b43c-c8f719702323
          subscription-id: 9e5164c3-5dce-42e1-abfe-6be582de11d8

      - name: Log in to ACR
        run: |
          az acr login --name $ACR_NAME
      

      - name: Build Docker Image
        run: |
          docker build -t $IMAGE_NAME:$IMAGE_TAG .

      - name: Tag Docker Image for ACR
        run: |
          docker tag $IMAGE_NAME:$IMAGE_TAG $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG

      - name: Push Docker Image to ACR
        run: |
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG
