name: Build and Push to ACR

on:
  workflow_dispatch:  # Isse tum manually GitHub se trigger kar sakte ho

permissions:
  id-token: write
  contents: read
  
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: todo-ui
      IMAGE_TAG: v1
      ACR_NAME: akscon1
      ACR_LOGIN_SERVER: akscon1.azurecr.io

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Azure Login using OIDC
        uses: Azure/login@v2.3.0
        with:          
          client-id: fb6017ed-97db-43da-82af-9abe9d55fa00
          tenant-id: 0e065ce2-baf5-4486-97de-afcd5074d399
          subscription-id: a0366c1d-7e23-4176-93a9-0e084725b2d4

      - name: Log in to ACR
        run: |
          az acr login --name $ACR_NAME
      

      - name: Build Docker Image
        run: |
          docker build -t $IMAGE_NAME:$IMAGE_TAG .

      - name: Tag Docker Image for ACR
        run: |
          docker tag $IMAGE_NAME:$IMAGE_TAG $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG

      - name: Push Docker Image to ACR
        run: |
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG
